<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @owner.name %>
</p>

<p>
  <b>Age:</b>
  <%= @owner.age %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
