<p><%= @incomes.size %> incomes</p>

<p><%= notice %></p>

<table id="tabledata">
<thead>
  <tr>
    <th>Account</th>
    <th>Amount</th>
    <th>Description</th>
  </tr>
</thead>

<% @incomes.each do |income| %>
  <tr>
    <td><%= income.account.owner.name %></td>
    <td><%= income.amount %></td>
    <td><%= income.description %></td>
    <td><%= link_to 'Show', income %></td>
    <td><%= link_to 'Edit', edit_income_path(income) %></td>
    <td><%= link_to 'Destroy', income, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

 <p class="links">
<%= link_to 'New', new_income_path %>
</p>
