<p><%= @expenses.size %> expenses</p>

<p><%= notice %></p>


<table id="tabledata">
<thead>
  <tr>
    <th>Amount</th>
    <th>Account</th>
    <th>Expense type</th>
    <th>Description</th>
  </tr>
</thead>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.amount %></td>
    <td><%= expense.account.owner.name %></td>
    <td><%= expense.expense_type.name %></td>
    <td><%= expense.description %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Destroy', expense, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


 <p class="links">
<%= link_to 'New', new_expense_path, :class => 'more' %>
</p>

