<p>id: <%= @account.id %> - Created: <%= @account.created_at %> Last Update: <%= @account.updated_at %></p>



<%= render 'form' %>

<p>
<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
</p>

<br />


