<p><%= @accounts.size %> account(s)</p>


<table id="tabledata">
<thead>
  <tr>
    <th>Owner</th>
    <th>Account type</th>
    <th>Balance</th>
    <th>Actions</th>
    <th colspan="4" align="center">Actions</th>
  </tr>
</thead>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.owner.name %></td>
    <td><%= account.account_type.name %></td>
    <td><%= account.balance %></td>
    <td><%= link_to 'Show', account_url(account) %></td>
    <td><%= link_to 'Expenses', acc_expense_url(:id => account) %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p> 
 <%= link_to 'New', new_account_path, :class => 'more' %>
</p>



